@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Asap:400,600&amp;subset=latin-ext");

/* --------
  Basic
-------- */

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px;
  }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* --------
  Typography
-------- */

html {
  font-size: 16px;
}

@media screen and (max-width: 1680px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 980px) {
  html {
    font-size: 1px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

body {
  background-color: #fff;
  color: #777;
}

body, input, select, textarea {
  font-family: "Asap", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}

a {
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}
a:hover {
  text-decoration: none;
}

strong, b {
  font-weight: 600;
}

em, i {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 0 0 1.5rem 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.3;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.7rem;
}

@media screen and (max-width: 736px) {
  h1 {
    font-size: 2.75rem;
    line-height: 1.3;
  }

  h2 {
    font-size: 1.75rem;
    line-height: 11.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}

/* --------
  Footer
-------- */

footer {
  margin-top: 1rem;
  background-color: #111;
  color: rgba(255, 255, 255, 0.5);
  padding: 2rem 0 2rem 0;
}

