body {
  background: #ceedee;
  font-family: 'Roboto', sans-serif;
}

.content-container {
  background: #DFF3F4;
}

section {
  display: grid;
  grid-template-columns: 30% auto;
}

figure {
  background: #9edbdd;
  margin: 0;
  text-align: center;
}

article {
  padding: 2em;
}

h3 {
  font-size: 3em;
  margin-top: 0;
}

p {
  font-size: 1.1em;
  line-height: 2em;
  margin-bottom: 0.7em;
}

img {
  width: 200px;
  position: sticky;
  position: -webkit-sticky;
  top: 20px;
}
