ul {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 640px) {
  ul {
    justify-content: flex-start;
  }
}

ul li a {
  position: relative;
  display: block;
  padding: 16px 24px;
  text-decoration: none;
  text-transform: uppercase;
  color: #274144;
  font-weight: bold;
  border-radius: 8px;
}

ul li:hover a {
  color: #A7C5C9;
  transition: color 250ms ease-in-out;
}

ul li a.active {
  background: #274144;
  color: #D6F5F9;
  transition: background 250ms ease-in-out;
}
